﻿@model WebUI.Models.LoginViewModel

@{
    ViewBag.Title = "Admin :Log In";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Log In</h2>
<p>Please log in to access the administrative area:</p>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
    <p><input type="submit" value="Log In"></p>
}
