﻿@model Domain.Entities.ShippingDetails

@{
    ViewBag.Title = "Checkout";
}

<h2>Checkout out now</h2>
Please ввеите детали и отправьте заказ)
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <h3>Введите плиз инфу</h3>
    <div>Name: @Html.EditorFor(x=>x.Name)</div>
    <h3>Введите адресс</h3>
    <div>Line 1: @Html.EditorFor(x => x.Line1)</div>
    <div>Line 2: @Html.EditorFor(x => x.Line2)</div>
    <div>Line 3: @Html.EditorFor(x => x.Line3)</div>
    <div>City: @Html.EditorFor(x => x.City)</div>
    <div>State : @Html.EditorFor(x =>x.State)</div>
    <div>Zip: @Html.EditorFor(x =>x.Zip)</div>
    <div>Country: @Html.EditorFor(x =>x.Country)</div>
    <h3>Option</h3>
    <label>
        @Html.EditorFor(x => x.GiftWrap)
        Gift wrap these items
    </label>
    <p align ="center">
        <input class="actionButtons" type="submit" value="Complete order" />
    </p>
}
