﻿@model IEnumerable<Domain.Entities.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>All Products</h2>
<p>@Html.ActionLink("Create New", "Create")</p>
<table class="Grid">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th class="NumericCol">Price</th>
        <th>Actions</th>
    </tr>
   
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductId</td>
            <td>@Html.ActionLink(item.Name, "Edit", new {item.ProductId})</td>
            <td class="NumericCol">@item.Price.ToString("c")</td>
            <td>
                @using (Html.BeginForm("Delete", "Admin"))
                {
                    @Html.Hidden("ProductId", item.ProductId)
                    <input type="submit" value="Delete" />
                }

            </td>
        </tr>
    }
</table>
<p>@Html.ActionLink("Add a new product" , "Create")</p>
