﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" type="text/css" rel="stylesheet" />
    
</head>
<body>
<div id="header">
    @{Html.RenderAction("Summary","Cart");}
    <div class="title">SportStore</div>
</div>
<div id="categories">
  @{ Html.RenderAction("Menu", "Nav"); }
</div>
    <div id="content">

@RenderBody()
        </div>
</body>
</html>
